<f:layout name="Main" />
<f:section name="Content">

    <div class="container">
		<f:cObject typoscriptObjectPath="lib.left" />
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="teaser">
                    <f:cObject typoscriptObjectPath="lib.border" />
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        
		<f:cObject typoscriptObjectPath="lib.right" />

		<f:cObject typoscriptObjectPath="lib.content" />
    </div>

</f:section>