<div class="navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="top-bar">
                <div class="col-lg-6 col-md-6 col-sm-6"><a href="/" title="deVega Medien GmbH" class="toplogo"><img src="/fileadmin/devega/Resources/Public/Images/logo.png" alt="deVega"></a></div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-right serviceHotlineTop">Mo-Fr 8-17 Uhr | +49 (0)821 50 211-38 | <a href="mailto:mappen@deVega.de?subject=Anfrage&body=Hallo%2C%0D%0A%0D%0A">mappen@deVega.de</div>
              <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <nav class="navbar-default-fixed">
                <div class="navbar-header-fixed">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <f:comment><f:cObject typoscriptObjectPath="lib.logo" /></f:comment>
                </div>
                <div class="collapse navbar-collapse">
                    <div class="contact-menu">
                        <f:cObject typoscriptObjectPath="lib.siteSlogan" />
            <f:cObject typoscriptObjectPath="lib.devegaSlogan" />
                    </div>
          <ul class="nav navbar-nav navbar-right">
            <f:cObject typoscriptObjectPath="lib.mainMenu" />
            <f:cObject typoscriptObjectPath="lib.mainMenuUnternehmen" />
          </ul> 
                    <div class="clearfix"></div>
                </div>
            </nav>
        </div>
    <f:comment><!--div class="row">
      <div id="template-kontakt-help-dev-xx" class="template-kontakt-help-xx">
      <div class="tab-text-container">
        <hr class="hrLineStyled">
        <f:cObject typoscriptObjectPath="lib.popupKontakt" />
      </div>
      </div>
    </div--></f:comment>
    </div>
</div>

<div class="navbar-scroll-top">
    <div class="container">
        <div class="row">
            <div class="top-bar">
                <div class="col-lg-6 col-md-6 col-sm-6"><a href="/" title="deVega Medien GmbH" class="toplogo"><img src="/fileadmin/devega/Resources/Public/Images/logo.png" width="141" height="47" alt="deVega"></a></div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-right serviceHotline">Mo-Fr 8-17 Uhr | +49 (0)821 50 211-38 | <a href="mailto:mappen@deVega.de?subject=Anfrage&body=Hallo%2C%0D%0A%0D%0A">mappen@deVega.de</div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <nav class="navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <f:comment><f:cObject typoscriptObjectPath="lib.logo" /></f:comment>
                </div>
                <div class="collapse navbar-collapse">
                    <div class="contact-menu">
                        <f:comment><f:cObject typoscriptObjectPath="lib.ansprechPartner" /></f:comment>
            <f:cObject typoscriptObjectPath="lib.devegaSlogan" />
                    </div>
           <ul class="nav navbar-nav navbar-right">
            <f:cObject typoscriptObjectPath="lib.mainMenu2" />
            <f:cObject typoscriptObjectPath="lib.mainMenuUnternehmen" />
          </ul> 
                    <div class="clearfix"></div>
                </div>
            </nav>
        </div>
    <div class="row">
      <div id="myModal" class="modal"><div class="modal-content">
      <div class="tab-text-container">
        <hr class="hrLineStyled">
        <div class="closeBtn">&times;</div>
        <f:cObject typoscriptObjectPath="lib.popupKontakt" />
      </div>
      </div></div>
    </div>
    </div>
</div>

<nav id="mobileShow" class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header-mobile">
            <div class="phone">Service +49 (0)821 50 211-38</div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
            </button>
            <div class="clearfix"></div>
            <f:cObject typoscriptObjectPath="lib.logo" />
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <f:cObject typoscriptObjectPath="lib.mobileMenu" />
        </div>
</nav>